# Dependencies / builds
**/node_modules/
**/dist/
**/dist-ssr/

# Logs
**/logs/
**/*.log

# Env / secrets
**/.env
**/.env.*

# OS / Editor
.DS_Store
Thumbs.db
**/.vscode/
**/.idea/
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

